@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* Background: #282828 */
/* Foreground: #ebdbb2 */
/* Title: #fb4934 */
/* Title_Hover: #cc241d */
/* Comment: #928374 */
/* H1: TBC */
/* H2: #b8bb26 */

html, body {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  body {
    font-family: 'Roboto Mono', monospace;
    color: #ebdbb2;
    background-color: #282828;
    text-align: justify;
    width: 90%;
    margin: auto;
  }

  .navbar {
    text-align: left;
    overflow: hidden;
    background-color: #504945;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -5%;
    height: 1.5rem;
  }
}

@media (min-width: 769px)
{
  body {
    font-family: 'Roboto Mono', monospace;
    color: #ebdbb2;
    background-color: #282828;
    text-align: justify;
    width: 60%;
    margin: auto;
    /* padding-left: 20%;
    padding-right: 20%; */
  }

  .navbar {
    text-align: left;
    overflow: hidden;
    background-color: #504945;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -20%;
    height: 1.5rem;
  }
}

.main {
  margin-top: 3rem;
}

a.SiteTitle {
  font-size: 200%;
  color: #fb4934;
  padding: 0;
  margin: 0;
}

a.SiteTitle:link {
  color: #fb4934;
}

a.SiteTitle:visited {
  color: #fb4934;
}

a.SiteTitle:hover {
  color: #cc241d;
}

a.SiteTitle:active {
  color: #cc241d;
}

h4.SiteSubtitle {
  color: #928374;
  padding: 0;
  margin: 0;
}

.comment {
  color: #928374;
}

a {
  color: #fe8019;
  text-decoration: none;
}

a:hover {
  color: #d65d0e;
  text-decoration: none;
}

h1 {
  font-size: 150%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #b8bb26;
}

h2 {
  color: #b8bb26;
}

h3 {
  color: #fabd2f;
}

h4 {
  color: #83a598;
}

h5 {
  font-size: 100%;
  color: #fabd2f;
}

img, video {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */

  /* Center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.filename {
  font-size: 80%;
  color: #928374;
}

.item1 {
  color: #fabd2f;
}

a.item1:hover {
  color: #d79921;
}

.item2 {
  color: #83a598;
}

a.item2:hover {
  color: #458588;
}

.item3 {
  color: #d3869b;
}

a.item3:hover {
  color: #b16286;
}

.item4 {
  color: #8ec07c;
}

a.item4:hover {
  color: #689d6a;
}

.variable {
  color: #8ec07c;
  font-style: italic;
}

.file {
  color: #d3869b;
  font-style: italic;
}

.important {
  color: #83a598;
  font-style: italic;
}

a.home:hover rect, a.home:hover polygon {
  fill: #d65d0e;
}

a.top:hover rect, a.top:hover polygon {
  fill: #a89984;
}