@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* Background: #282828 */
/* Foreground: #ebdbb2 */
/* Title: #fb4934 */
/* Title_Hover: #cc241d */
/* Comment: #928374 */
/* H1: TBC */
/* H2: #b8bb26 */

@media screen and (max-width: 768px) {
  body {
    font-family: 'Roboto Mono', monospace;
    color: #ebdbb2;
    background-color: #282828;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (min-width: 769px)
{
  body {
    font-family: 'Roboto Mono', monospace;
    color: #ebdbb2;
    background-color: #282828;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
  }
}

h1 a.SiteTitle {
  font-size: 125%;
  color: #fb4934;
  padding: 0;
  margin: 0;
}

h1 a.SiteTitle:link {
  color: #fb4934;
}

h1 a.SiteTitle:visited {
  color: #fb4934;
}

h1 a.SiteTitle:hover {
  color: #cc241d;
}

h1 a.SiteTitle:active {
  color: #cc241d;
}

h4.SiteSubtitle {
  color: #928374;
  padding: 0;
  margin: 0;
}

a {
  color: #fe8019;
  text-decoration: none;
}

a:hover {
  color: #d65d0e;
  text-decoration: none;
}

h2 {
  color: #b8bb26;
}

h3 {
  color: #fabd2f;
}

h4 {
  color: #83a598;
}

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */

  /* Center */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item1 {
  color: #fabd2f;
}

a.item1:hover {
  color: #d79921;
}

.item2 {
  color: #83a598;
}

a.item2:hover {
  color: #458588;
}

.item3 {
  color: #d3869b;
}

a.item3:hover {
  color: #b16286;
}

.item4 {
  color: #8ec07c;
}

a.item4:hover {
  color: #689d6a;
}