{% extends "layout.html" %}
{% block title %}AutoCuber{% endblock %}
{% block content %}
<h2 align="center">AutoCuber: Rubik's Cube Scan and Solve Machine - 2019 (Python/C++, RPI/Arduino)</h2>
<iframe class="iframe_center" width="560" height="315" src="https://www.youtube.com/embed/FX_zLw3P7Gw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>See the <a href=https://github.com/armytricks/AutoCuber>GitHub repository</a> for detailed information.</p>
{% endblock %}