{% extends "layout.html" %}
{% block content %}
<h2 align="center">CloudWorks - 2018 (C++, SFML)</h2>
<p align="center"><img src="https://thumbs.gfycat.com/FeistyWillingAmericanalligator-size_restricted.gif" width='640'></p>
<p>A retro styled 2D platformer created for my Computer Science coursework project. It has support for keyboard and gamepad control schemes and is an infinitely scrolling game. Unfortunately, it's not quite as polished as I'd have hoped to have had but it's still a fun little game to play.</p>
Source code unavailable until the game has been marked<br>
Download it <a href="{{ url_for('static',filename='files/CloudWorks-beta-v0-2.zip') }}" download>here</a>
{% endblock %}