<h2 align="center">DecryptR - 2017 (Python, Flask)</h2>
<p>Access Decryptr <a href="{{ url_for('decryptr') }}">here</a></p>
<p>DecryptR was created as part of an Internally Assessed Project (IAP) during secondary school. It uses heuristics with local search algorithms (e.g. hill climbing, simulated annealing and genetic) to find solutions to classical ciphers when the key is unknown. It was initially made to tackle the National Cipher Challenge run by the University of Southampton but was later adapted to become my IAP project by turning it into a fully fledged website in the form of a Flask app.</p>
<h3>DecryptR Artefact</h3>
<p>The document below details how each decryption algorithm works and shows in depth, the process used to analyse ciphers.
Note: The link given in the document is no longer active; use the one above.</p>
<iframe src="https://drive.google.com/file/d/1GhFGmQ920ppVtmHYqh-AViAVUbnG1zMX/preview" width="100%" height="960"></iframe>