{% extends "layout.html" %}
{% block content %}

<h2>Homepage</h2>
<h3 class="item1">About</h3>
<h3 class="item2">Guides</h3>
<h3 class="item3">Projects</h3>
<ul>
	<li><a href="{{ url_for('telemetry_display') }}">Telemetry Display (2019)</a>: Wireless telemetry display for racing wheels</li>
	<li><a href="{{ url_for('weather_station') }}">Weather Station (2019)</a>: Radio transmitted client-server weather monitor</li>
	<li><a href="{{ url_for('cloudworks') }}">CloudWorks (2018)</a>: Simple platformer for A Level non-exam assessment</li>
	<li><a href="{{ url_for('life') }}">Cellular Automata (2018)</a>: Conway's 'Game of Life' simulation</li>
	<li><a href="{{ url_for('mandelbrot') }}">Mandelbrot Set Viewer (2018)</a>: Multi-threaded Mandelbrot set viewer</li>
	<li><a href="{{ url_for('decryptr_port') }}">Decryptr (2017)</a>: Automated Classical Cipher Analysis and Decryption</li>
</ul>
<h3 class="item4">Links</h3>
Check out my other creations on <a href="https://github.com/armytricks">GitHub</a>
<p>Styling based on the colour scheme for Vim: <a href="https://github.com/morhetz/gruvbox">gruvbox</a></p>
<p>Contact: admin@dulhanjayalath.com</p>
<p>Migrated to Heroku dyno. Report errors!</p>
{% endblock %}