{% extends "layout.html" %}
{% block content %}
<!-- STYLE GUIDE -->
<!-- ctrl-shift-v to surround variables -->
<!-- ctrl-shift-f to surround files or folders -->
<!-- ctrl-shift-i to surround important text -->
<h2>Homepage</h2>
<h3 class="item1">About</h3>
<ul>
	<li>Favourite Languages: C/C++, Java, Python, Rust</li>
	<li>Orientation: Anti-clockwise about the positive horizontal</li>
</ul>
<h3 class="item2">Guides</h3>
<ul>
	<li>[C++] <a href="{{ url_for('ray_tracer') }}">Writing a Realtime 3D Voxel Ray Tracer Using OpenGL Shaders [WORK IN PROGRESS]</a></li>
</ul>
<h3 class="item4">Things</h3>
<p><b>Decryptr (2017)</b> <a href="{{ url_for('decryptr') }}">[Tool]</a> <a href="{{ url_for('decryptr_port') }}">[About]</a><br>
An automated online classical cipher analyser and decrypter.</p>
<h3 class="item3">Projects</h3>
View my creations on <a href="https://github.com/armytricks">GitHub</a>
<p>The previously listed project pages have been moved to their respective GitHub repository README.md files.</p>
<h3 class="item1">Links</h3>
View my creations on <a href="https://github.com/armytricks">GitHub</a>
<p>Styling based on the colour scheme for Vim: <a href="https://github.com/morhetz/gruvbox">gruvbox</a></p>
<p><a href="https://github.com/armytricks/DulhanJayalath.com">Source code</a> for this website</p>
<p>Contact: admin@dulhanjayalath.com</p>
{% endblock %}