<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135961415-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-135961415-1');
	</script>

	{% if ads == True %}
	<!--  Google Ads -->
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-1678706616866824",
			enable_page_level_ads: true
		});
	</script>
	{% endif %}

	<!-- Latest compiled and minified CSS -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/gruvbox.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styling.css') }}?v=1.0" />

	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
	</script>
	
	<script type="text/x-mathjax-config">
	MathJax.Hub.Config({ TeX: { extensions: ["autobold.js", "AMSsymbols.js"] } });
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<meta charset="utf-8">
	<meta name="theme-color" content="#ffffff">
	<title>{% block title %}Dulhan Jayalath{% endblock %}</title>	
	<meta name="description" content="{% block description %}Programming guides, tutorials and projects{% endblock %}">
	<meta name="keywords" content="{% block keywords %}Programming, Graphics, C++, CPP, OpenGL, Programming Tutorial{% endblock %}">
	<meta name="author" content="Dulhan Jayalath">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ JSGlue.include() }}
	
</head>

<body style="overflow-y: scroll;">
	<div class="navbar">
		<svg width="10rem" height="100%" viewBox="0 0 80 10">
			<a class="home" href="{{ url_for('index') }}">
				<rect width="35" height="10" fill="#fe8019" />
				<polygon fill="#fe8019" stroke-width=0 points="35,10 35,0 40,5" />
				<text text-anchor="middle" font-size="50%" x="17.5" y="7.5" fill="#282828">HOME</text>
			</a>
			<a class="top" href="#top">
				<polygon fill="#bdae93" stroke-width=0 points="35,10 40,5 40,10" />
				<polygon fill="#bdae93" stroke-width=0 points="35,0 40,5 40,0" />
				<rect width="30" height="10" fill="#bdae93" x="40"/>
				<polygon fill="#bdae93" stroke-width=0 points="70,10 70,0 75,5" />
				<text text-anchor="middle" font-size="50%" x="55" y="7.5" fill="#282828">TOP</text>
			</a>
		</svg> 
	</div>

	<div class="main">
		<a href="{{ url_for('index') }}" class="SiteTitle">Dulhan Jayalath</a>
		<h4 class="SiteSubtitle">// A collection of (hopefully) useful stuff</h4>

		{% block content %}{% endblock %}
	</div>
	<!-- jQuery library -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> -->

	<!-- Latest compiled JavaScript -->
	<!-- <script src="{{ url_for('static', filename='js/loading-scripts.js') }}?v=1.0"></script> -->
	<script src="{{ url_for('static', filename='js/prism.js') }}?v=1.0"></script>
</body>

</html>