{% extends "layout.html" %}
{% block title %}Cellular Automata: Game of Life{% endblock %}
{% block content %}
<h2 align="center">Cellular Automata: Conway's Game of Life - 2018 (C++, SDL2)</h2>
<p align="center"><img src="https://thumbs.gfycat.com/BiodegradableDishonestHammerkop-size_restricted.gif" width='640'></p>
<p>This was my first graphics programming project and a very simple one to start with since it's really just a lot of direct pixel manipulation. The resulting implementation took some inspiration from the clever optimisations in <a href="http://www.jagregory.com/abrash-black-book/">Michael Abrash's Graphics Programming Black Book (1997)</a></p>
<p>Source code on <a href="https://github.com/armytricks/GameOfLife">GitHub</a><br>
Download it <a href="https://github.com/armytricks/GameOfLife/releases/tag/v1.0">here</a></p>
{% endblock %}