<h2 align="center"> Mandelbrot Set Viewer - 2018 (C++, SDL2)</h2>
<p align="center"><img src="https://thumbs.gfycat.com/ImpossibleFastBoubou-size_restricted.gif" width='640'></p>
<p>This seemed like a great computing related application for complex numbers when I was doing further mathematics AS. It turned out to be relatively simple to implement since it uses an iterative formula. However, scaling the viewer and allowing panning was a task that took much longer than I'd initially anticipated. It was also a good opportunity to try my hand at multi-threading because this was a perfect example of a SIMD problem.</p>
<p>Source code on <a href="https://github.com/armytricks/MandelbrotSet">GitHub</a><br>
Download it <a href="https://github.com/armytricks/MandelbrotSet/releases">here</a></p>