{% extends "layout.html" %}
{% block title %}Voxel Ray Tracer{% endblock %}
{% block content %}
<h2 align="center">Writing a Realtime 3D Voxel Ray Tracer Using OpenGL Shaders</h2>
<h3>Contents</h3>
<ol>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#prereq">Prerequisites</a></li>
    <li><a href="#setup">Setup</a></li>
    <li>Shaders</li>
    <li>Sending voxel data</li>
    <li>Ray casting: DDA vs Marching</li>
    <li>Conclusion</li>
</ol>
<h4><a id="intro"></a>Introduction</h4>
<p class="comment">/* This guide is intended to expand and build upon <a href="https://lodev.org/cgtutor/raycasting.html">Lode Vandevenne's tutorial on ray casting</a> to support full ray tracing with the use of GPU computation */</p>
<p>A crucial distinction: </p>
<ol>
    <li><u>Ray casting</u> is the use of ray-surface intersection tests across a <u>single side</u> of a screen (i.e. in one line of pixels) to render models</li>
    <li><u>Ray tracing</u> is the use of ray-surface intersection tests on <u>every pixel</u> of the screen to render models</li>
</ol>
<p>Consequently, ray casting limits you to a fixed height (hence why wolf3D for example does not allow for jumping, multiple heights, or changing the camera pitch).
    Ray casting on the other hand can allow you to do all this with the use of a map of voxels (cubes arranged in a three-dimensional grid) instead of a 2D grid of squares.
</p>
<h4><a id="prereq"></a>Prerequisites</h4>
<p>We will be using the following in this guide and <u>it is up to you to set them up or use an equivalent</u>:</p>
<ul>
    <li>OpenGL 4.30 (Check GPU compatibility)</li>
    <li>GLAD (OpenGL extension library)</li>
    <li>SDL2 (OpenGL development library)</li>
    <li>GLM (Vector/Matrix mathematics library)</li>
</ul>
<p>You should have some experience with OpenGL otherwise you WILL struggle to understand some of this guide. If you do not and are only interested in how ray casting is done then feel free to skip straight to the ray casting section</p>
<h4><a id="setup"></a>Setup</h4>

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = dulhanjayalath.com/raytracer;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = raytracer; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://dulhanjayalath.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}